#**Dataset Description**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.mixture import GaussianMixture
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import normalize

In [2]:
raw_data = pd.read_csv("Data/kyc.csv")
cash_raw = pd.read_csv("Data/cash_trxns.csv")
emt_raw = pd.read_csv("Data/emt_trxns.csv")
wire_raw = pd.read_csv("Data/wire_trxns.csv")

print(raw_data.shape,cash_raw.shape,emt_raw.shape,wire_raw.shape)

(195789, 7) (212532, 4) (506451, 7) (67872, 8)

In [3]:
raw_data.head()

,Name,Gender,Occupation,Age,Tenure,cust_id,label
0,JENNIFER WELLS,female,Architect,45.0,13.0,CUST82758793,0
1,ANTHONY ADAMS,male,Musician,52.0,8.0,CUST69248708,0
2,DENISE LEWIS,female,Jewelry Dealer,43.0,11.0,CUST67222818,0
3,STEPHEN FIGUEROA,male,Optometrist,35.0,17.0,CUST33995820,0
4,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1

In [4]:
raw_data.info()
cash_raw.info()
emt_raw.info()
wire_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195789 entries, 0 to 195788
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Name        195789 non-null  object
 1   Gender      195789 non-null  object
 2   Occupation  195789 non-null  object
 3   Age         195789 non-null  float64
 4   Tenure      195789 non-null  float64
 5   cust_id     195789 non-null  object
 6   label       195789 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 10.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212532 entries, 0 to 212531
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cust_id  212532 non-null  object
 1   amount   212532 non-null  int64
 2   type     212532 non-null  object
 3   trxn_id  212532 non-null  object
dtypes: int64(1), object(3)
memory usage: 6.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506451 entries, 0 to 506450
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id sender      506451 non-null  object
 1   id receiver    506451 non-null  object
 2   name sender    506451 non-null  object
 3   name receiver  506451 non-null  object
 4   emt message    41225 non-null   object
 5   emt value      506451 non-null  float64
 6   trxn_id        506451 non-null  object
dtypes: float64(1), object(6)
memory usage: 27.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67872 entries, 0 to 67871
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id sender         67872 non-null  object
 1   id receiver       67872 non-null  object
 2   name sender       67872 non-null  object
 3   name receiver     67872 non-null  object
 4   wire value        67872 non-null  float64
 5   country sender    67872 non-null  object
 6   country receiver  67872 non-null  object
 7   trxn_id           67872 non-null  object
dtypes: float64(1), object(7)
memory usage: 4.1+ MB

In [5]:
raw_data.describe()

                 Age         Tenure          label
count  195789.000000  195789.000000  195789.000000
mean       35.832856       6.528436       0.028163
std        10.714043       5.998545       0.165439
min        18.000000       0.000000       0.000000
25%        28.000000       2.000000       0.000000
50%        35.000000       5.000000       0.000000
75%        42.000000      10.000000       0.000000
max        92.000000      49.000000       1.000000

In [6]:
pos_data = raw_data[raw_data['label'] == 1]
pos_data

,Name,Gender,Occupation,Age,Tenure,cust_id,label
4,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1
28,ROBERT STAFFORD,male,Offshore Trustee,51.0,9.0,CUST95743620,1
32,AARUSH SRIDHAR,female,Pawn Shop Owner,48.0,25.0,CUST37591597,1
41,FANG JIAN JUN,female,Private Banker,35.0,3.0,CUST14940080,1
69,MICHAEL JONES,male,Private Jet Broker,52.0,0.0,CUST40832249,1
...,...,...,...,...,...,...,...
195592,TAN JIAN GUO,female,Maritime or Shipping Agent,50.0,11.0,CUST39737655,1
195631,JOSEPH ESTES,male,Police Officer,25.0,7.0,CUST19561308,1
195692,AMANDA CRUZ,female,Hedge Fund Manager,49.0,10.0,CUST55221806,1
195714,DR.TINA LEVINE,female,Free Trade Zone Operator,53.0,15.0,CUST92442267,1
195783,WANG MIN,female,Private Equity Fund Manager,37.0,12.0,CUST67655265,1

In [7]:
pos_data.describe()

               Age       Tenure   label
count  5514.000000  5514.000000  5514.0
mean     41.428908     9.859086     1.0
std      10.984981     7.400461     0.0
min      18.000000     0.000000     1.0
25%      34.000000     4.000000     1.0
50%      41.000000     9.000000     1.0
75%      49.000000    15.000000     1.0
max      80.000000    41.000000     1.0

#**Deal with imbalance issue**

In [8]:
total_counts = raw_data['label'].value_counts()
Class_1 = (raw_data['label'].value_counts()[1] / len(raw_data)) * 100
Class_0 = (raw_data['label'].value_counts()[0] / len(raw_data)) * 100

print("Percentage of risky (1):", Class_1)
print("Percentage of not risky (0):", Class_0)

Percentage of risky (1): 2.816297136202749
Percentage of not risky (0): 97.18370286379725

#**Data Preprocessing**

In [ ]:
emt_raw['Type'] = "EMT"
emt_raw['Frequency'] = 1

# Drop columns from emt_raw
emt_raw = emt_raw.drop(['trxn_id', 'emt message'], axis=1)

# Rename column in emt_raw
emt_raw = emt_raw.rename(columns={'emt value': 'Amount'})

# Define function to determine 'Type' for wire_raw
def determine_type(row):
    if row['country sender'] == row['country receiver']:
        return "Wire International"
    else:
        return "Wire Domestic"

# Set 'Type' column for wire_raw using apply
wire_raw['Type'] = wire_raw.apply(determine_type, axis=1)
wire_raw['Frequency'] = 1

# Drop columns from wire_raw
wire_raw = wire_raw.drop(['country sender', 'country receiver', 'trxn_id'], axis=1)

# Rename column in wire_raw
wire_raw = wire_raw.rename(columns={'wire value': 'Amount'})

# Concatenate DataFrames
sum_transcation_df = pd.concat([emt_raw, wire_raw], ignore_index=True)
sum_transcation_df = sum_transcation_df.sort_values('id sender')
sum_transcation_df.to_csv(path_or_buf='Data/sum_transcation.csv', index=False)

total_table = sum_transcation_df.groupby(['id sender', 'id receiver'])[['Amount','Frequency']].sum().reset_index()
total_table.columns = ['id sender', 'id receiver', 'Sum of Amount', 'Frequency']
total_table = total_table.sort_values('Frequency',ascending=False)
print(total_table)

filter_total_table = total_table[total_table['Sum of Amount'] > 8440]
print(filter_total_table.describe())

filter_total_table.head()
filter_total_table.to_csv(path_or_buf='Data/cleaned_transcation.csv', index=False)

In [9]:
# Cash Table
cash_result = cash_raw.groupby(['cust_id', 'type'])['amount'].sum().reset_index()
cash_send = cash_result[cash_result['type'] == 'withdrawal'][['cust_id','amount']].rename(columns={'amount': 'amount_withdraw'})
cash_receive = cash_result[cash_result['type'] == 'deposit'][['cust_id','amount']].rename(columns={'amount': 'amount_deposite'})

# EMT Table - sender
emt_sender = emt_raw.groupby('id sender')['emt value'].sum().reset_index().rename(columns={'id sender': 'cust_id', 'emt value': 'emt_sender'})

# EMT Table - receive
emt_receive = emt_raw.groupby('id receiver')['emt value'].sum().reset_index().rename(columns={'id receiver': 'cust_id', 'emt value': 'emt_receive'})

# Wire Table - send (aboard or not)
wire_send_total_raw = wire_raw.groupby('id sender')['wire value'].sum().reset_index()
wire_send_total = pd.merge(wire_send_total_raw, wire_raw[['id sender', 'country sender', 'country receiver']], on='id sender', how='left')
wire_send_aboard = wire_send_total[wire_send_total['country sender'] == wire_send_total['country receiver']][['id sender', 'wire value']].rename(columns={'id sender': 'cust_id','wire value': 'wire_send_aboard'})
wire_send_domes = wire_send_total[wire_send_total['country sender'] != wire_send_total['country receiver']][['id sender', 'wire value']].rename(columns={'id sender': 'cust_id','wire value': 'wire_send_domestic'})

# Wire Table - receive (aboard or not)
wire_receive_total_raw = wire_raw.groupby('id receiver')['wire value'].sum().reset_index()
wire_receive_total = pd.merge(wire_receive_total_raw, wire_raw[['id receiver', 'country sender', 'country receiver']], on='id receiver', how='left')
wire_receive_aboard = wire_receive_total[wire_receive_total['country sender'] == wire_receive_total['country receiver']][['id receiver', 'wire value']].rename(columns={'id receiver': 'cust_id','wire value': 'wire_receive_aboard'})
wire_receive_domes = wire_receive_total[wire_receive_total['country sender'] != wire_receive_total['country receiver']][['id receiver', 'wire value']].rename(columns={'id receiver': 'cust_id','wire value': 'wire_receive_domestic'})

In [10]:
print(wire_send_aboard)

              cust_id  wire_send_aboard
1        CUST10002761            9330.5
2        CUST10002761            9330.5
3        CUST10002761            9330.5
4        CUST10005774            5046.0
5        CUST10006702            1890.0
...               ...               ...
67863  EXTERNAL999643            1547.5
67865  EXTERNAL999775            2374.0
67866  EXTERNAL999799            1100.0
67869  EXTERNAL999902           98180.0
67870  EXTERNAL999902           98180.0

[46594 rows x 2 columns]

In [11]:
result_df = (
    pd.merge(raw_data, cash_send, on='cust_id', how='outer')
    .merge(cash_receive, on='cust_id', how='outer')
    .merge(emt_sender, on='cust_id', how='outer')
    .merge(emt_receive, on='cust_id', how='outer')
    .merge(wire_send_aboard, on='cust_id', how='outer')
    .merge(wire_send_domes, on='cust_id', how='outer')
    .merge(wire_receive_aboard, on='cust_id', how='outer')
    .merge(wire_receive_domes, on='cust_id', how='outer')
    .fillna(0)
    .drop_duplicates(subset='cust_id')
)

print(result_df.shape)
result_df.head(50)

(300008, 15)

,Name,Gender,Occupation,Age,Tenure,cust_id,label,amount_withdraw,amount_deposite,emt_sender,emt_receive,wire_send_aboard,wire_send_domestic,wire_receive_aboard,wire_receive_domestic
0,JENNIFER WELLS,female,Architect,45.0,13.0,CUST82758793,0.0,0.0,0.0,14412.0,11484.5,3971.5,0.0,0.0,0.0
2,ANTHONY ADAMS,male,Musician,52.0,8.0,CUST69248708,0.0,0.0,1210.0,0.0,84.0,0.0,0.0,0.0,0.0
3,DENISE LEWIS,female,Jewelry Dealer,43.0,11.0,CUST67222818,0.0,0.0,3835.0,4494.0,6538.5,28263.0,28263.0,22629.5,22629.5
7,STEPHEN FIGUEROA,male,Optometrist,35.0,17.0,CUST33995820,0.0,650.0,0.0,0.0,0.0,0.0,0.0,0.0,27385.0
8,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1.0,19585.0,68115.0,1147.5,18289.0,10429.0,0.0,23895.5,0.0
14,BECKY SUTTON,female,Sommelier,26.0,8.0,CUST41866546,0.0,0.0,0.0,0.0,21.5,0.0,0.0,0.0,0.0
15,JOCELYN BOWMAN,female,Musician,29.0,11.0,CUST14581764,0.0,0.0,4090.0,0.0,16.5,0.0,0.0,0.0,0.0
16,ZHANG FENG,female,Stock Broker,23.0,5.0,CUST89345714,0.0,4335.0,0.0,250.0,2848.0,2641.0,0.0,0.0,0.0
17,BRIAN OLIVER,male,Antiques Dealer,47.0,10.0,CUST93206512,0.0,19535.0,77225.0,2974.5,2618.0,0.0,2660.0,0.0,0.0
18,MICHAEL RUIZ,male,School Teacher,43.0,7.0,CUST25056739,0.0,0.0,0.0,0.0,404.5,0.0,0.0,0.0,0.0
19,MAXIME VINCENT,male,Bus Driver,37.0,15.0,CUST23641762,0.0,0.0,0.0,3127.5,6339.5,1110.0,0.0,2456.0,0.0
21,SR(A). AGUSTÃN RAYA,male,Choreographer,28.0,7.0,CUST15857760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,MARY MCDONALD,other,Postal Worker,32.0,7.0,CUST94852083,0.0,0.0,0.0,940.0,0.0,0.0,0.0,0.0,0.0
23,JERRY BARRETT,male,Call Center Representative,34.0,0.0,CUST49262422,0.0,0.0,0.0,43.0,500.0,0.0,0.0,0.0,0.0
24,RÃ‰MY MARTINEAU,male,Butcher,21.0,3.0,CUST84531357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,HEATHER WILLIAMS,female,Import/Export Dealer,19.0,1.0,CUST45301267,0.0,1775.0,885.0,215.0,507.5,0.0,0.0,0.0,0.0
26,LAUREN BROWN DDS,female,Student,20.0,2.0,CUST47368341,0.0,0.0,0.0,0.0,328.5,0.0,0.0,0.0,0.0
27,THOMAS RIVERA,male,Software Developer,26.0,7.0,CUST89023752,0.0,0.0,0.0,315.0,404.0,0.0,8712.0,0.0,0.0
28,DR.ALYSSA ROBBINS,female,Banker,37.0,17.0,CUST75716279,0.0,1390.0,0.0,2760.0,990.0,0.0,16367.0,0.0,0.0
29,OLIVIA HOFFMAN,female,"Freelancer (e.g., Graphic Designer, Writer)",33.0,3.0,CUST71355294,0.0,0.0,0.0,1936.0,9067.5,5047.5,0.0,13079.0,0.0
32,PAMELA MILLER,female,School Teacher,40.0,16.0,CUST58849211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,DR.SELENA GARZA,female,Carpenter,28.0,10.0,CUST11564635,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0
34,WILLIAM WILLIAMS,male,Local Fair Operator,59.0,15.0,CUST82607937,0.0,0.0,0.0,128.0,0.0,0.0,0.0,0.0,0.0
35,VIRGINIE DESJARDINS,other,"Freelancer (e.g., Graphic Designer, Writer)",32.0,5.0,CUST42779659,0.0,9950.0,18430.0,12320.0,9678.0,2633.5,0.0,48522.0,48522.0
37,LINDSAY COLLIER,female,Geologist,23.0,5.0,CUST99636899,0.0,0.0,0.0,289.0,290.5,0.0,0.0,0.0,0.0
38,DR.MICHAEL ALEXANDER,male,Other,55.0,2.0,CUST38475536,0.0,0.0,0.0,3615.0,7782.5,0.0,0.0,1312.0,0.0
39,EMILY MILLER,female,Lawyer,35.0,15.0,CUST33186428,0.0,12265.0,0.0,1233.5,1132.5,0.0,0.0,0.0,0.0
40,SUSAN FLORES,female,Firefighter,25.0,0.0,CUST54673590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,ROBERT STAFFORD,male,Offshore Trustee,51.0,9.0,CUST95743620,1.0,0.0,0.0,17193.0,1623.5,10144.5,0.0,7266.5,0.0
45,DR.DAVID GILBERT,male,Printmaker,40.0,11.0,CUST35585290,0.0,0.0,0.0,208.0,0.0,0.0,0.0,0.0,0.0
46,MARCUS VASQUEZ,male,Dietician,35.0,4.0,CUST44095135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,NICOLE FOX,female,Warehouse Worker,28.0,5.0,CUST99311278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,AARUSH SRIDHAR,female,Pawn Shop Owner,48.0,25.0,CUST37591597,1.0,27090.0,162570.0,9.0,1.0,0.0,0.0,0.0,0.0
49,ADAM KELLY DVM,male,High-End Real Estate Developer,36.0,18.0,CUST30045232,0.0,11180.0,34880.0,1985.5,6158.5,1081.0,0.0,4481.0,0.0
53,MICHELLE CHAN,female,Gardener,45.0,6.0,CUST91437160,0.0,0.0,0.0,46.0,22.0,0.0,0.0,0.0,13910.0
54,SARAH EVANS,female,Childcare Worker,37.0,14.0,CUST55803843,0.0,0.0,0.0,166.0,0.0,0.0,0.0,0.0,0.0
55,ANGELA GIBSON,female,Game Developer,18.0,0.0,CUST40558996,0.0,0.0,0.0,0.0,366.0,0.0,4330.0,0.0,0.0
56,JIANG SHUAI,female,Butcher,44.0,14.0,CUST74073466,0.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0
57,MARCEL NADEAU,male,Retail Salesperson,22.0,0.0,CUST12508595,0.0,0.0,1070.0,41.5,89.0,0.0,0.0,0.0,0.0
58,YUVAAN CHAUDHRY,female,International Salesperson,33.0,0.0,CUST37410153,0.0,17430.0,37255.0,1795.0,2956.0,1156.0,0.0,3731.0,0.0
61,JEFFREY RODRIGUEZ,male,Biologist,40.0,8.0,CUST35445975,0.0,600.0,0.0,613.0,1678.5,0.0,0.0,0.0,0.0
62,FANG JIAN JUN,female,Private Banker,35.0,3.0,CUST14940080,1.0,22045.0,26120.0,8019.0,1141.5,40495.5,40495.5,19047.5,19047.5
89,RANBIR SAGAR,female,Pet Groomer,18.0,0.0,CUST11645906,0.0,0.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0
90,JAMIE HALL,female,Firefighter,33.0,0.0,CUST24836582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,SHAWN CHAVEZ,other,Cashier,24.0,3.0,CUST67258278,0.0,0.0,0.0,582.0,975.0,0.0,0.0,0.0,0.0
92,NOÃ‰MIE DUFRESNE,female,Police Officer,19.0,1.0,CUST45942490,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0
93,DANIEL TORRES,male,Auto Dealer,36.0,14.0,CUST14577300,0.0,950.0,11300.0,3705.0,1189.0,0.0,0.0,0.0,0.0
94,CINDY BAKER,female,Barista,26.0,0.0,CUST87542813,0.0,0.0,0.0,351.0,761.5,0.0,0.0,0.0,0.0
95,JAMES COOK,male,Hotelier,31.0,13.0,CUST83371706,0.0,10380.0,9555.0,906.0,766.0,0.0,0.0,0.0,0.0
96,LUC BOIVIN,male,Psychologist,43.0,10.0,CUST95482739,0.0,0.0,0.0,138.0,786.5,0.0,0.0,0.0,0.0

#**Model Selection**

#**Evaluation**

##**Task 2 (Finding IWT networks)**

### threshold determine

In [12]:
columns_to_sum = ['amount_withdraw', 'amount_deposite',
                  'emt_sender', 'emt_receive', 'wire_send_aboard',
                  'wire_send_domestic',	'wire_receive_aboard',
                  'wire_receive_domestic']

# Sum only the specified columns for each row
result_df['total_amount'] = result_df[columns_to_sum].sum(axis=1)

result_df

,Name,Gender,Occupation,Age,Tenure,cust_id,label,amount_withdraw,amount_deposite,emt_sender,emt_receive,wire_send_aboard,wire_send_domestic,wire_receive_aboard,wire_receive_domestic,total_amount
0,JENNIFER WELLS,female,Architect,45.0,13.0,CUST82758793,0.0,0.0,0.0,14412.0,11484.5,3971.5,0.0,0.0,0.0,29868.0
2,ANTHONY ADAMS,male,Musician,52.0,8.0,CUST69248708,0.0,0.0,1210.0,0.0,84.0,0.0,0.0,0.0,0.0,1294.0
3,DENISE LEWIS,female,Jewelry Dealer,43.0,11.0,CUST67222818,0.0,0.0,3835.0,4494.0,6538.5,28263.0,28263.0,22629.5,22629.5,116652.5
7,STEPHEN FIGUEROA,male,Optometrist,35.0,17.0,CUST33995820,0.0,650.0,0.0,0.0,0.0,0.0,0.0,0.0,27385.0,28035.0
8,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1.0,19585.0,68115.0,1147.5,18289.0,10429.0,0.0,23895.5,0.0,141461.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353741,0,0,0,0.0,0.0,EXTERNAL998377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10480.0,10480.0
353743,0,0,0,0.0,0.0,EXTERNAL998665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9517.0,9517.0
353744,0,0,0,0.0,0.0,EXTERNAL998972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5140.0,5140.0
353745,0,0,0,0.0,0.0,EXTERNAL999599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3282.0,3282.0
353748,0,0,0,0.0,0.0,EXTERNAL999698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,917.5,917.5

In [13]:
result_df['total_amount'].describe()

count    3.000080e+05
mean     8.440188e+03
std      2.438430e+04
min      0.000000e+00
25%      1.590000e+02
50%      8.342500e+02
75%      4.108000e+03
max      1.510836e+06
Name: total_amount, dtype: float64

In [14]:
## delete rows if this person have zero transaction, becasue it is useless
## for us to detect wildlife trafficking network

filtered_df = result_df[result_df['label'] == 1]

filtered_df

,Name,Gender,Occupation,Age,Tenure,cust_id,label,amount_withdraw,amount_deposite,emt_sender,emt_receive,wire_send_aboard,wire_send_domestic,wire_receive_aboard,wire_receive_domestic,total_amount
8,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1.0,19585.0,68115.0,1147.5,18289.0,10429.0,0.0,23895.5,0.0,141461.0
41,ROBERT STAFFORD,male,Offshore Trustee,51.0,9.0,CUST95743620,1.0,0.0,0.0,17193.0,1623.5,10144.5,0.0,7266.5,0.0,36227.5
48,AARUSH SRIDHAR,female,Pawn Shop Owner,48.0,25.0,CUST37591597,1.0,27090.0,162570.0,9.0,1.0,0.0,0.0,0.0,0.0,189670.0
62,FANG JIAN JUN,female,Private Banker,35.0,3.0,CUST14940080,1.0,22045.0,26120.0,8019.0,1141.5,40495.5,40495.5,19047.5,19047.5,176411.5
116,MICHAEL JONES,male,Private Jet Broker,52.0,0.0,CUST40832249,1.0,14515.0,46800.0,20416.5,5927.0,4664.0,0.0,8944.0,0.0,101266.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233206,TAN JIAN GUO,female,Maritime or Shipping Agent,50.0,11.0,CUST39737655,1.0,30040.0,53365.0,9556.5,8094.0,2268.0,0.0,11393.5,11393.5,126110.5
233255,JOSEPH ESTES,male,Police Officer,25.0,7.0,CUST19561308,1.0,0.0,0.0,1052.0,2305.5,226510.0,0.0,44105.0,44105.0,318077.5
233345,AMANDA CRUZ,female,Hedge Fund Manager,49.0,10.0,CUST55221806,1.0,0.0,0.0,11522.5,11033.5,1172.0,0.0,114819.5,114819.5,253367.0
233373,DR.TINA LEVINE,female,Free Trade Zone Operator,53.0,15.0,CUST92442267,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233448,WANG MIN,female,Private Equity Fund Manager,37.0,12.0,CUST67655265,1.0,32995.0,87670.0,125.0,94.0,0.0,0.0,0.0,0.0,120884.0

In [15]:
filtered_df['total_amount'].describe()

count      5514.000000
mean      87842.514418
std       75445.639462
min           0.000000
25%       32071.000000
50%       70880.000000
75%      128637.625000
max      988086.500000
Name: total_amount, dtype: float64

In [16]:
## we decide to use the total_amount average of original data as threshold
## we only consider chose who above threshold for task 2
threshold = result_df['total_amount'].mean()
threshold

8440.188491973548

### occupation selection
we filter out low risk occupation

In [34]:
# filter out low risk occupation
over_threshold = result_df[result_df['total_amount'] > threshold]
occupation_counts = over_threshold['Occupation'].value_counts()

# Convert the result to a DataFrame
occupation_counts_df = occupation_counts.reset_index()
occupation_counts_df.columns = ['Occupation', 'Count']
## there are 250 different occupation in over_threshold
pd.set_option('display.max_rows', None)
print("Occupation Counts as DataFrame:")
display(occupation_counts_df)
display(over_threshold['Occupation'].describe())
display(result_df['Occupation'].describe())

Occupation Counts as DataFrame:

                                           Occupation  Count
0                                                   0  15383
1         Freelancer (e.g., Graphic Designer, Writer)   2129
2                             Construction Contractor   1253
3                                   Real Estate Agent   1245
4                                            Landlord   1213
5                                Import/Export Dealer    931
6                                    Property Manager    894
7                                               Other    819
8                                         Auto Dealer    748
9                                              Banker    738
10                                             Lawyer    714
11                                    Wedding Planner    713
12                                          Architect    706
13                                           Hotelier    677
14                          International Salesperson    656
15                                     Business Owner    613
16                                            Unknown    558
17                                         Auctioneer    520
18                                       Stock Broker    454
19                                         Unemployed    434
20                                         Art Dealer    434
21                                     Jewelry Dealer    420
22                                 Real Estate Broker    370
23                                       Sports Agent    361
24                                     Antique Dealer    347
25                                 Venture Capitalist    328
26                               Car Dealership Owner    304
27                                           Musician    292
28                                            Retired    291
29                                            Student    277
30   Cash-intensive Business Owner (e.g., Laundromat)    259
31                                        Hairstylist    247
32                            Currency Exchange Owner    240
33                                      Notary Public    237
34                                    Fitness Trainer    230
35                                Travel Agency Owner    227
36                                     Private Banker    226
37                                        Taxi Driver    218
38                                    Waiter/Waitress    215
39                                      Tattoo Artist    212
40                                    Casino Operator    202
41                             Nightclub or Bar Owner    197
42                                        Tax Advisor    193
43                       Import/Export Business Owner    189
44                                           Mechanic    181
45                                           Engineer    179
46                                       Psychologist    177
47           Luxury Goods Dealer (e.g., Art, Jewelry)    175
48                                          Carpenter    174
49                                      Private Tutor    174
50                                  Financial Advisor    173
51                                            Plumber    172
52                           Payment Processors Owner    172
53                                               Chef    172
54                 Trust and Company Service Provider    172
55                                 Hedge Fund Manager    172
56                       Money Service Business Owner    170
57                                 Retail Salesperson    169
58                   Non-profit Organization Director    167
59                     High-End Real Estate Developer    166
60                      Loan or Finance Company Owner    165
61                              Cryptocurrency Trader    164
62                                    Pawn Shop Owner    163
63                                   Commodity Broker    162
64                         Maritime or Shipping Agent    158
65                                         Tour Guide    157
66                                            Cleaner    152
67                                      Event Planner    151
68                                            Cashier    151
69                                              Baker    150
70                           International Consultant    150
71                                        Electrician    149
72                                            Barista    147
73                                 Software Developer    143
74                           Free Trade Zone Operator    141
75                        Offshore Investment Advisor    139
76                      Online Gambling Site Operator    139
77                                   Offshore Trustee    138
78                                      Civil Servant    136
79                                       Photographer    135
80                                Corporate Executive    133
81                             Precious Metals Dealer    131
82                                    Antiques Dealer    129
83                                  Interior Designer    128
84                                Construction Worker    127
85                    Virtual Asset Service Providers    124
86                                  Art Gallery Owner    121
87                                   Fast Food Worker    115
88                     Private Security Company Owner    113
89                                             Doctor    113
90                                  Massage Therapist    111
91                                   Warehouse Worker    108
92                             Shell Company Operator    106
93                                     Graphic Artist    102
94                                              Nurse     99
95                         Call Center Representative     98
96                                      Social Worker     98
97                                             Tailor     96
98                                     Police Officer     96
99                                         Journalist     95
100                       Private Equity Fund Manager     94
101                                        Pharmacist     92
102                                       Radiologist     92
103                               Grocery Store Clerk     92
104                                  Home Health Aide     90
105                                    Security Guard     89
106                                         Therapist     89
107                                Private Jet Broker     88
108                                           Dentist     87
109                                      Receptionist     87
110                                            Farmer     86
111                                           Florist     86
112                                      Travel Agent     85
113                                    Factory Worker     85
114                                         Librarian     84
115                                    Music Producer     82
116                                         Dietician     80
117                                          Gardener     79
118                                       Firefighter     79
119                                         Bartender     79
120                                         Paramedic     78
121                                      Veterinarian     78
122                                            Artist     78
123                                             Nanny     76
124                                  Fashion Designer     73
125                               Luxury Yacht Broker     73
126                                         Biologist     72
127                                  Childcare Worker     71
128                                     Postal Worker     70
129                                     Makeup Artist     70
130                                      Pediatrician     68
131                                       Pet Groomer     67
132                                Research Scientist     66
133                                        Bus Driver     66
134                                             Actor     65
135                                      Nutritionist     65
136                                 School Bus Driver     63
137                                          Surveyor     61
138                                      Chiropractor     61
139                                         Economist     60
140                                    School Teacher     60
141                              University Professor     60
142                                            Brewer     60
143                                         Historian     60
144                                        Translator     59
145                                           Chemist     57
146                                       Sociologist     57
147                                       Bioengineer     57
148                                Physical Therapist     57
149                               Librarian Assistant     57
150                                         Filmmaker     56
151                                       Optometrist     56
152                                           Surgeon     55
153                                  Flight Attendant     55
154                                    Sound Engineer     53
155                                     Urban Planner     53
156                                       Pastry Chef     52
157                                      Statistician     52
158                                                DJ     52
159                                       Book Editor     51
160                                      Telemarketer     50
161                                           Butcher     50
162                                        Landscaper     50
163                           Environmental Scientist     48
164                                            Author     48
165                                    Game Developer     44
166                                             Pilot     44
167                                     Meteorologist     44
168                               Local Fair Operator     43
169                                          Forester     43
170                                         Fisherman     43
171                                      Farm Laborer     42
172                                     Choreographer     41
173                                   Marine Engineer     41
174                               Political Scientist     40
175                                      Videographer     39
176                            Veterinarian Assistant     38
177                                         Geologist     38
178                                       Illustrator     38
179                                      Cartographer     38
180                                  Anesthesiologist     37
181                                    Food Scientist     37
182                                         Physicist     36
183                              Local Radio Operator     36
184                                        Ceramicist     35
185                                    Window Cleaner     35
186                                        Gemologist     34
187                                  Marine Biologist     34
188                                     Ornithologist     33
189                                           Actuary     33
190                                        Printmaker     33
191                                             Miner     32
192                                       Food Critic     32
193                                        Cartoonist     31
194                                          Sculptor     30
195                                     Art Historian     29
196                                           Curator     29
197                                         Lifeguard     28
198                                       Film Editor     28
199                                    Animal Trainer     28
200                                         Sommelier     27
201                                         Zookeeper     27
202                                   Literary Critic     26
203                                        Art Critic     26
204                                         Beekeeper     23
205                                       News Anchor     22
206                                        Astronomer     22
207                                        Radio Host     22
208                                        Pedologist     21
209                                 Comic Book Artist     21
210                                      Set Designer     21
211                                  Theater Director     20
212                                       TV Producer     20
213                                          Linguist     19
214                                       Voice Actor     19
215                                         Enologist     19
216                                     Ethnobotanist     18
217                                     Archaeologist     18
218                                    Coffee Roaster     18
219                                      Graphologist     17
220                                 Ethnomusicologist     16
221                                       Semiotician     15
222                                         Distiller     15
223                                        Sinologist     15
224                                       Hydrologist     14
225                                        Librettist     14
226                                    Astrophysicist     14
227                                      Glaciologist     14
228                                       Limnologist     11
229                                       Osteologist     11
230                                     Ichthyologist     11
231                                    Paleontologist     11
232                                      Entomologist     11
233                                          Cicerone     10
234                                     Vexillologist      9
235                                     Oceanographer      8
236                                     Herpetologist      8
237                                      Malacologist      8
238                                           Luthier      8
239                                          Arborist      8
240                                     Lepidopterist      7
241                                      Seismologist      7
242                                     Volcanologist      6
243                                      Nematologist      6
244                                        Mycologist      5
245                                      Egyptologist      5
246                                     Kinesiologist      4
247                                Dendrochronologist      4
248                                       Philatelist      2
249                                       Numismatist      1

count     52353
unique      250
top           0
freq      15383
Name: Occupation, dtype: int64

count     300008
unique       251
top            0
freq      104219
Name: Occupation, dtype: int64

### determine transaction on risk people
by observation, some people have same wire_send_aboard,	wire_send_domestic, and same	wire_receive_aboard,wire_receive_domestic, we consider those scenario as risk people

In [35]:
over_threshold.head()

,Name,Gender,Occupation,Age,Tenure,cust_id,label,amount_withdraw,amount_deposite,emt_sender,emt_receive,wire_send_aboard,wire_send_domestic,wire_receive_aboard,wire_receive_domestic,total_amount
0,JENNIFER WELLS,female,Architect,45.0,13.0,CUST82758793,0.0,0.0,0.0,14412.0,11484.5,3971.5,0.0,0.0,0.0,29868.0
3,DENISE LEWIS,female,Jewelry Dealer,43.0,11.0,CUST67222818,0.0,0.0,3835.0,4494.0,6538.5,28263.0,28263.0,22629.5,22629.5,116652.5
7,STEPHEN FIGUEROA,male,Optometrist,35.0,17.0,CUST33995820,0.0,650.0,0.0,0.0,0.0,0.0,0.0,0.0,27385.0,28035.0
8,KYLE EDWARDS,male,Real Estate Broker,39.0,21.0,CUST76401392,1.0,19585.0,68115.0,1147.5,18289.0,10429.0,0.0,23895.5,0.0,141461.0
16,ZHANG FENG,female,Stock Broker,23.0,5.0,CUST89345714,0.0,4335.0,0.0,250.0,2848.0,2641.0,0.0,0.0,0.0,10074.0

In [37]:
risk_people = over_threshold[(over_threshold['wire_send_aboard'] == \
                                over_threshold['wire_send_domestic']) & \
                                (over_threshold['wire_receive_aboard'] ==
                                over_threshold['wire_receive_domestic']) & \
                                (over_threshold['wire_send_aboard'] > 0) & \
                                (over_threshold['wire_receive_aboard'] > 0) & \
                                (over_threshold['wire_send_domestic'] > 0) & \
                                (over_threshold['wire_receive_domestic'] > 0)]

risk_people.head()

,Name,Gender,Occupation,Age,Tenure,cust_id,label,amount_withdraw,amount_deposite,emt_sender,emt_receive,wire_send_aboard,wire_send_domestic,wire_receive_aboard,wire_receive_domestic,total_amount
3,DENISE LEWIS,female,Jewelry Dealer,43.0,11.0,CUST67222818,0.0,0.0,3835.0,4494.0,6538.5,28263.0,28263.0,22629.5,22629.5,116652.5
62,FANG JIAN JUN,female,Private Banker,35.0,3.0,CUST14940080,1.0,22045.0,26120.0,8019.0,1141.5,40495.5,40495.5,19047.5,19047.5,176411.5
586,DR.ZHU LIANG,female,Import/Export Business Owner,58.0,0.0,CUST60050014,1.0,0.0,32370.0,1425.0,5450.0,12476.0,12476.0,32123.0,32123.0,128443.0
1570,NATASHA VASQUEZ MD,female,International Salesperson,45.0,18.0,CUST64907257,0.0,33075.0,17730.0,4860.5,3834.0,41679.5,41679.5,13002.0,13002.0,168862.5
1822,THOMAS PRICE,other,Luxury Yacht Broker,41.0,20.0,CUST80080798,0.0,0.0,0.0,746.0,5391.0,12572.0,12572.0,24545.5,24545.5,80372.0